/*--------------------------------------------------------------
11.0 Featured Image Hover
--------------------------------------------------------------*/

.post-thumbnail {
  margin-bottom: 1em;
  a {
    img {
      -webkit-backface-visibility: hidden;
      transition: opacity 0.2s;
    }
    &:hover img, &:focus img {
      opacity: 0.7;
    }
  }
}
