/*--------------------------------------------------------------
7.0 Formatting
--------------------------------------------------------------*/

hr {
	background-color: $gray2;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}