/*--------------------------------------------------------------
13.3 Regular Content
--------------------------------------------------------------*/

.site-content-contain {
  background-color: $white1;
  position: relative;
}

.site-content {
  padding: 2.5em 0 0;
}