/*--------------------------------------------------------------
9.0 Tables
--------------------------------------------------------------*/

table {
  border-collapse: collapse;
  margin: 0 0 1.5em;
  width: 100%;
}

thead th {
  border-bottom: 2px solid $gray2;
  padding-bottom: 0.5em;
}

th {
  padding: 0.4em;
  text-align: left;
}

tr {
  border-bottom: 1px solid $silver2;
}

td {
  padding: 0.4em;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}