// Colors
$white1: #fff;
$white2: #fafafa;

$black1: #000;
$black2: #222;
$black3: #333;

$silver1: #f1f1f1;
$silver2: #eee;
$silver3: #ddd;

$gray1: #767676;
$gray2: #bbb;
$gray3: #666;
$gray4: #aaa;
$gray5: #555;
$gray6: #777;

$blue1: #0085ba;
$blue2: #21759b;

// Fonts
$font-family-base: sans-serif;
$font-family-code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font-family-input: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
$font-family-lang1: Tahoma, Arial, sans-serif;
$font-family-lang2: "PingFang TC", "Helvetica Neue", Helvetica, STHeitiTC-Light, Arial, sans-serif;
$font-family-lang3: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
$font-family-lang4: Arial, sans-serif;
$font-family-lang5: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-lang6: "Arial Hebrew", Arial, sans-serif;
$font-family-lang7: "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
$font-family-lang8: "Apple SD Gothic Neo", "Malgun Gothic", "Nanum Gothic", Dotum, sans-serif;
$font-family-lang9: "Sukhumvit Set", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-mono: monospace, monospace;
$font-family-placeholder: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
$font-family-pre: "Courier 10 Pitch", Courier, monospace;
